*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('assets/space.jpeg');
    background-size: cover;
}

img{
    width: 100px;
    height: 100px;
}
.player-one,
.player-two{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 50vh;
}

.dice-column{
    margin: 10px;
    border-radius: 5px;
    width: 110px;
    height: 310px;
}

.player-one-col-one,
.player-one-col-two,
.player-one-col-three{
    border: 5px solid #2323ff;
}

.player-two-col-one,
.player-two-col-two,
.player-two-col-three{
    border: 5px solid #FF3131;
}

.dye{
    width: 100%;
    height: 100px;
}

.player-one-dice-roll,
.player-two-dice-roll{
    border: 5px solid green;
    border-radius: 5px;
    width: 110px;
    height: 110px;
    color: aliceblue;
}

.player-one-score,
.player-two-score{
    font-size: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid gold;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    padding: 30px 50px;
}

.roll-dice-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 110px;
    color: black;
    font-size: 15px;
    font-weight: 900;
    padding: 5px 10px;
    background:  	#0FFF50;
    border: none;
    border-radius: 5px;
}

.player-one-col-one-total,
.player-one-col-two-total,
.player-one-col-three-total,
.player-two-col-one-total,
.player-two-col-two-total,
.player-two-col-three-total{
    text-align: center;  
    font-size: 30px;
    color: white;
}



.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    
}

.dice-column:hover{
  border: 5px solid gold;
}